* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: bisque;
  background: url(/leaves.jpg);
  padding: 0;
  margin: 0;
}
.number,
.operator,
#equal,
#clear {
  color: magenta;
  background-color: pink;
  border-style: solid;
  border-color: white;
  font-size: 50px;
}
.number {
  color: white;
  background-color: purple;
}
.calculator {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: minmax(150px, auto) repeat(4, 150px);
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  /*   justify-content: center;
  align-items: center; */
}
.calculator > button {
  cursor: pointer;
}
.calculator > button:hover {
  background-color: rgb(0, 255, 0);
}
#equal {
  display: grid;
  color: white;
  background-color: purple;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 100px;
}
#total {
  display: grid;
  color: rgb(45, 5, 68);
  background-color: lightgrey;
  inline-size: min-content;
/*  overflow: visible;
  overflow-wrap: normal; */
  font-size: 50px;
  grid-column: span 4;
  justify-items: right;
  align-content: flex-end;
  width: 600px;
  height: auto;
}
/* to get the overflow to wrap around the text, play with overflow and overflow-wrap